/* цвет основного текста  #757575  */
/* вторичный цвет текста #212121 */
/* голубой #2196F3 */
/* черный #000000 */
/* белый #FFFFFF */
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-bg-color: #E5E5E5;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --section-bg-colr: #2F303A;
    --primary-black-color: #000000;
    --hero-bg-color: #2F303A;
    --footer-contacts-color: rgba(255, 255, 255, 0.6)
}
/* мейл и телефон в футер rgba(255, 255, 255, 0.6) */
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color)
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/* header*/
.accent {
    color: var(--accent-color);
}
.webstudio {
    color: var(--primary-black-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.site-nav {
    color: var(--title-text-color)
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
letter-spacing: 0.02em;
}
.header-mail {
    color: var(--primary-text-color)
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
letter-spacing: 0.02em;
}
/* Main*/
.hero-title {
    color: var(--primary-white-color);
    background-color: var(--hero-bg-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
}
.button-primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
/* Особенности*/
.features {
    color: var(--secondary-text-color)
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.features-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.section-title {
    color: var(--secondary-text-color)
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.name {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.name-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}
/* footer*/
footer {
    background-color: var(--hero-bg-color);
}
.webstudio-footer {
    color: var(--primary-white-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.address {
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.contacts {
    color: var(--footer-contacts-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
/* second page*/
.title-page-two {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.description-page-two {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
}